<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="img/NakanoNino.jpg" alt="Yoga" class="img-thumbnail rounded-circle" width="100px">
            <h1>Yoga Ibra</h1>
            <p>Programer | Student</p>
        </div>
    </div>
</div>
