<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= contact.nama %> </h5>
                  <p class="card-text"><%= contact.kelas %> </p>
                  <p class="card-text"><%= contact.nomer %> </p>
                  <a href="/contact" class="btn btn-primary">kembali kecontact</a>
                </div>
            </div>
        </div>
    </div>
</div>



